# Logs
logs/
*.log

# Dependency directories
node_modules/
vendor/

# Compiled source
dist/
build/

# Temporary files
*.tmp
*.swp

# Ignore system files
.DS_Store
Thumbs.db

# Ignore environment variable files
.env
